
@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}


body {
  overflow-x: hidden;
}

.no-scrollbar {
  scrollbar-width: none; 
}
.no-scrollbar::-webkit-scrollbar {
  display: none; 
}
